@import "compass/css3"

/*----------- Vars ------------*/

$blue: #3bbfce
$padding: 16px
$default-text-shadow-color: rgba(red, .6)
$default-text-shadow-blur: 3px
$default-text-shadow-v-offset: 1px



/*----------- Main styling ------------*/

body
	background: black

.container 
	height: 100%
	background: black
	.inner 
		width: 800px
		margin: 50px auto
		padding: $padding
		background: white
		+box-shadow($blue 2px 2px 10px)
		
		h3 
			color: $blue
			text-transform: uppercase
			.has-custom-shadow
				+text-shadow(rgba(blue, .2) 1px 1px 0, rgba(blue, .2) 2px 2px 0, rgba(blue, .2) 3px 3px 0)
			font-size: 70px
			+opacity(1)
			+transition(1s)
			&:hover
				+opacity(0.3)
				color: black
				cursor: pointer
	.blogpost
		width: 600px
		margin: 0 auto
		background: grey
			